# Example of using qrid to display dataframes

In [1]:
from faker import Faker
import pandas as pd
import random
import qgrid
import ipywidgets as widgets
from IPython.display import display

In [2]:
fake = Faker()

def create_rows(num=1):
    output = [{"name":fake.name(),
               "address":fake.address(),
               "bs":fake.bs(),
               "address":fake.address(),
               "city":fake.city(),
               "state":fake.state(),
               "date_time":fake.date_time(),
               "randomdata":random.randint(1000,2000)} for x in range(num)]
    return output

In [3]:
df = pd.DataFrame(create_rows(500))

In [4]:
df.head()

,name,address,bs,city,state,date_time,randomdata
0,Jasmine Martinez,"7415 Lewis Skyway\nRichardshire, MO 36175",generate e-business e-business,Antoniofort,Montana,1993-01-19 04:17:10,1861
1,Whitney Johnson MD,"17488 Julie Wells Apt. 615\nPort Aaronfurt, NJ...",architect wireless technologies,East Carol,South Carolina,1990-08-08 02:57:52,1558
2,Pamela Burgess,"28813 Derek Shoal Apt. 245\nMontestown, DE 70832",grow out-of-the-box web-readiness,North Curtisfort,New Jersey,1990-12-09 10:41:16,1033
3,Denise Mooney,"7290 Rojas Vista Suite 387\nAmandamouth, CA 30852",transform distributed convergence,Henrymouth,New Jersey,2019-05-06 01:06:37,1136
4,Regina Long,"1167 Love Canyon Apt. 196\nMyersmouth, DE 44262",synthesize synergistic relationships,East Marieland,Texas,1973-11-14 13:17:22,1008

In [5]:
cols = ['name', 'state', 'date_time']
qgrid_widget = qgrid.show_grid(df[cols], show_toolbar=True, grid_options={
    'multiSelect': False
})
person_out = widgets.Output()

In [6]:
def selection_changed_handler(event, widget):
    person_list = event['new']
    person_out.clear_output()
    with person_out:
        display(df.iloc[person_list[0]])
    
qgrid_widget.on('selection_changed', selection_changed_handler)

In [7]:
display(qgrid_widget)
display(person_out)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

Output()